body {
    background: #ccc;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.control-form {
    background: white;
    padding: 20px 60px;
    width: 270px;
    margin: 100px auto;
    border-radius: 15px;
}

h2 {
    margin: 48px 0;
    font-size: 28px;
    color: #242424;
    text-align: center;
}

input {
    color: #212121;
    border: none;
    background-color: white;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 40px;
    outline: none;
    width: 100%;
}

input::-webkit-input-placeholder {
    color: #ccc;
} 

button {
    background: linear-gradient(90deg, rgba(64,203,255,1) 0%, rgba(175,68,255,1) 100%);
    border: none;
    height: 54px;
    width: 100%;
    border-radius: 30px;
    font-size: 13.5px;
    color: white;
    text-transform: uppercase;
    margin: 20px 0 100px;
    cursor: pointer;
}

.account {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account span {
    font-size: 12px;
    color: #848383;
}

.account a {
    color: #212121;
    font-size: 12px;
    margin-left: 5px;
}

.password-btn {
    position: relative;
}

.btn {
    background: url(./../icon/eye-solid.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    right: 0;
    opacity: 0.2;
    cursor: pointer;
}